nav ul{
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-around;
    background-color: grey;
}
nav ul li{

    background-color: pink;
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    text-shadow: 10px 10px 15px white;
    text-transform: uppercase;
    outline: 25px dotted blanchedalmond;
}

nav ul li:hover {
 
    background-color: hotpink;
}

nav ul li:hover .dropdown-item{
    display: block;

}

.dropdown-item{
    display: none;
    position: absolute;
    background-color: inherit;
    padding: inherit;
    font-size: inherit;
}

