body{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: grey;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
    padding: 20px 20px 20px 50px;
    font-size: 18px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px;
    gap: 8px;
}

aside{
    flex: 1;
}

article{
    flex: 2;
}
form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article, form, aside, div{
    background-color: blanchedalmond;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
article > img{
    max-width: 100%;
}

div{
    margin: 18px;
}
footer{
    background-color: grey;
    padding: 12px;
    text-align: center;

}

@media screen and (max-width: 1000px){
    section{
        display: flex;
        flex-wrap: row wrap;
    }
    aside, form, article {
        flex-basis: 50%;
    }
    
    div{
        width: 50%;
    }
    
}

@media screen and (max-width: 700px){
    nav{display: flex;
        flex-direction: columm;
    }
    
    nav a{
        flex-basis: 100%;
    }
    
}